body {
    font-family: "STHeiti","Microsoft Yahei",Tahoma,Arial,Helvetica,STHeiti;
    /*font-family: "Open Sans","Segoe UI","Helvetica",sans-serif;*/
    line-height: 26px;
    background-color: #f4f4f4;
    /*font-size: 14px;*/
}
body, html {
    /*height: 100%;*/
}
/*导航与内容之间的提示信息*/
.mt-90 {margin-top: 90px;}
.mt-90 button.close {font-size: 16px;top: -8px;}
.mt-90 .alert p.message {text-align: center;margin-left: 170px;font-size: 15px;font-weight: 500;}

/*导航*/
#navbar-serenity {
    height: 68px;
    margin-bottom: 30px;
    transition: all .5s ease-out,opacity .5s ease-out;
    box-sizing: border-box;
    background-color: rgb(242,245,252);
    border-top: 3px solid #22d7bb;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1), 0 1px rgba(0,0,0,0.1);
}
#navbar-serenity .navbar-container {padding-left: 50px;padding-right: 40px;}
#navbar-serenity .navbar-header {margin-top: 6px;}
#navbar-serenity .navbar-nav {margin-top: 0;margin-right: 0;}
#navbar-serenity .navbar-nav li a.version-link {margin-right: 15px;color: #757575;font-size: 16px;text-shadow: none;font-weight: bold;padding: 0 10px;line-height: 33px;border-radius: 4px;}
#navbar-serenity .navbar-nav li a.version-link:hover {color: #22d7bb;}
#navbar-serenity .navbar-nav li.search-bar .search-text {
    font-size: 14px;
    width: 250px;
    height: 38px;
    outline: none;
    margin-top: 14px;
    border: inherit;
    padding-left: 13px;
    border: 1px solid #eee;
    border-radius: 40px;
    color: #555;
    /*background: #eee;*/
}
/*#navbar-serenity .navbar-nav li.search-bar .search-text:focus {width:450px;transition:width 1s;
    -moz-transition:width 1s; !* Firefox 4 *!
    -webkit-transition:width 1s; !* Safari and Chrome *!
    -o-transition:width 1s; !* Opera *!
}*/
#navbar-serenity .navbar-nav li.search-bar .search-transition {width:350px;transition:width 1s;
    -moz-transition:width 1s; /* Firefox 4 */
    -webkit-transition:width 1s; /* Safari and Chrome */
    -o-transition:width 1s; /* Opera */
}
#navbar-serenity .navbar-nav li.search-bar button.search-btn {
    position: absolute;
    top: 18px;
    right: 7px;
    width: 30px;
    height: 30px!important;
    line-height: normal!important;
    padding: 0!important;
    color: #969696!important;
    text-align: center;
    background-color: inherit;
    border: 0;text-shadow: none;box-shadow: none;margin: 0;
}
#navbar-serenity .navbar-nav li.search-bar .hot-search {
    display: none;
    list-style: none;
    width: 250px;
    background-color: #fff;
    position: absolute;
    top: 46px;
    left: 20px;
    margin-top: 20px;
    z-index: 9;
}
#navbar-serenity .navbar-nav li.search-bar .hot-search i, #navbar-serenity .navbar-nav li.search-bar .search-tip i {
    color: #fff;
    font-size: 42px;
    position: absolute;
    top:-20px;
    left: 22px;
}
#navbar-serenity .navbar-nav li.search-bar .hot-search .search-content {
    padding: 20px 20px 10px;
    border: 1px solid #f0f0f0;
}
#navbar-serenity .navbar-nav li.search-bar .hot-search .search-content ul li {margin-right: 10px;display: inline-block;line-height: 28px;}
#navbar-serenity .navbar-nav li.search-bar .hot-search .search-content ul li a {
    padding: 2px 6px;
    font-size: 12px;
    color: #787878;
    border: 1px solid #ddd;
    border-radius: 3px;
}
#navbar-serenity .navbar-nav li.search-bar .search-tip {
    display: none;
    list-style: none;
    width: 300px;
    background-color: #fff;
    position: relative;
    top:-8px;
    left: 20px;
    margin-top: 20px;
}
#navbar-serenity .navbar-nav li.search-bar .search-tip .search-content {padding: 0;border: 1px solid #f0f0f0;}
#navbar-serenity .navbar-nav li.search-bar .search-tip .search-content ul li {line-height: 28px;padding: 5px 8px;}
#navbar-serenity .navbar-nav li.search-bar .search-tip .search-content ul li:hover {background-color: #ccc;cursor: pointer;}
#navbar-serenity .navbar-nav li.search-bar .search-tip .search-content ul li:hover a {color: #5e5e5e;text-decoration: none;}
#navbar-serenity .navbar-nav li.search-bar .search-btn i {font-size: 16px;font-weight: bold;}
#navbar-serenity .btn-login, #navbar-serenity .btn-regist {
    font-weight: 500;
    display: inline-block;
    min-width: 90px;
    border: 1px solid #22d7bb!important;
    color: #22d7bb!important;
    padding: 5px 24px!important;
    border-radius: 3px;
    font-size: 14px;
    margin-top: 17px;
    margin-left: 10px;
    outline: none;
    background: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
}
#navbar-serenity .btn-login:hover, #navbar-serenity .btn-regist:hover {color:#fff!important; background: #22d7bb; box-shadow: 0 0 8px #22d7bb;}
#navbar-serenity .btn {box-shadow: inherit;}
#navbar-serenity .nav-column {margin-left: 10px;margin-top: 17px;}
#navbar-serenity .nav-column li a.active {color: #22d7bb;background-color: #eee;}

    /*导航右侧*/
#navbar-serenity .navbar-right>li.dropdown>a>i {color: #757575;}
#navbar-serenity .navbar-right>li {margin-right: 15px;}
#navbar-serenity .navbar-right>li.dropdown a.notify-icon, #navbar-serenity .navbar-right>li.dropdown a.publish-icon{padding: 8px 10px 6px 10px;margin-top: 15px;border-radius: 4px;}
/*导航右侧消息*/
#navbar-serenity .dropdown a i {font-size: 23px;color: #757575;}
#navbar-serenity .dropdown .dropdown-menu .nav li.first {border-bottom: 2px solid #22d7bb;}
#navbar-serenity .dropdown .dropdown-menu .nav li.first i {color: #22d7bb;}
#navbar-serenity .dropdown .dropdown-menu a {padding: 5px;font-size: 14px;}
#navbar-serenity .dropdown ul.dropdown-menu-extra {min-width: 240px;padding: 0;border-radius: 4px;position: absolute;top: 66px;}
#navbar-serenity .dropdown ul.dropdown-menu-extra .tab-content div {padding: 5px;}
#navbar-serenity .dropdown ul.dropdown-menu-extra .tab-content p {text-align: center;color: #999;}
/*导航右侧发布*/
#navbar-serenity .dropdown .dropdown-menu .nav li {width: 79px;text-align: center;}
#navbar-serenity .dropdown .dropdown-menu .nav li a {margin-left: 1px;margin-right: 1px;}
#navbar-serenity .dropdown .dropdown-menu .nav li a i{font-size: 18px;font-weight: bold;}
#navbar-serenity .dropdown .dropdown-menu-publish {min-width: 120px;position: absolute;top: 66px;}
#navbar-serenity .dropdown .dropdown-menu-publish li a {text-align: center;}
#navbar-serenity .dropdown .dropdown-menu-publish li a:hover {color: #5e5e5e;}
#navbar-serenity .dropdown .dropdown-menu-publish li a i {font-size: 14px;line-height: 0;margin-right: 6px;}
/*导航右侧个人信息*/
#navbar-serenity .dropdown .avatar {padding: 8px 8px 8px 8px;margin-top: 1px;}


/*工具栏*/
.toolbar {position: fixed;right: 20px;bottom: 25px;}
.toolbar .toolbar-item {position: relative;display: block;width: 40px;height: 40px;cursor: pointer;}
.toolbar .toolbar-item:hover .toolbar-btn .toolbar-icon {top: -40px;}
.toolbar .toolbar-item:hover .toolbar-btn .toolbar-text {top: 0;}
.toolbar .toolbar-item .toolbar-btn {position: absolute;top: 0;left: 0;width: 40px;height: 40px;overflow: hidden;border-bottom: 1px solid #fff;}
.toolbar .toolbar-item .toolbar-btn .toolbar-icon {position: absolute;top: 0;left: 0;width: 40px;height: 40px;background-color: #d0d6d9;
    color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -ms-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}
.toolbar .toolbar-item .toolbar-btn .toolbar-icon-opinion {
    line-height: 35px;
    padding-left: 3px;
}
.toolbar .toolbar-item .toolbar-btn .toolbar-text {position: absolute;top: 40px;left: 0;width: 40px;height: 40px;background-color: #98a1a6;
    color: #fff;
    font-size: 10px;
    text-align: center;
    line-height: 1.2;
    padding-top: 7px;
    -webkit-transition: top 1s;
    -moz-transition: top 1s;
    -ms-transition: top 1s;
    -o-transition: top 1s;
    transition: top 1s;
}

.toolbar .toolbar-item .toolbar-layer {
    position:absolute;
    right:-11px;
    bottom:0px;
    width:172px;
    opacity:0;
    filter:alpha(opacity=0);
    transform-origin: 70% 98%;-moz-transform-origin: 70% 98%;-ms-transform-origin: 70% 98%;-o-transform-origin: 70% 98%;-webkit-transform-origin: 70% 98%;
    transform:scale(0.01);-moz-transform:scale(0.01);-ms-transform:scale(0.01);-o-transform:scale(0.01);-webkit-transform:scale(0.01);
    transition:all 1s;-moz-transition:all 1s;-ms-transition:all 1s;-o-transition:all 1s;-webkit-transition:all 1s;
}
.toolbar .toolbar-item:hover .toolbar-layer {
    opacity:1;
    filter:alpha(opacity=100);
    transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);
}
/*意见反馈模态框*/
.feedback .feedback-header {padding: 10px 15px;}
.feedback .feedback-header h4.feedback-title {font-weight: 500;font-size: 16px;color: #333;}
.feedback .feedback-header .feedback-close {font-size: 15px;box-shadow: none;}
.feedback .feedback-body label {padding-top: 7px;color: #666;font-size: 14px;}
.feedback .feedback-body .extra input {border: 2px solid #e4e4e4;height: 40px;}
.feedback .feedback-body .extra textarea {border: 2px solid #e4e4e4;}
.feedback .feedback-body .extra input:focus, .feedback .feedback-body .extra textarea:focus {border: 2px solid #22d7bb;}
.feedback .feedback-body ul.feedback {list-style-type: none;margin-left: 1px;margin-top: 2px;}
.feedback .feedback-body ul.feedback li {margin-right: 25px;display: inline-block;}
.feedback .feedback-body ul.feedback li label {padding: 0px 12px 8px 5px;font-size: 13px;}
.feedback .feedback-footer {padding: 10px 15px;}
.feedback .feedback-footer .feedback-btn {background-color: #22d7bb;color: #fff;padding: 4px 13px;margin-right: 10px;box-shadow: none;}
.feedback .feedback-footer .feedback-btn:hover {background-color: #36ceb6;}

/*用户头像*/
.avatar-16{width:16px;height:16px;border-radius:50%;}
.avatar-20{width:20px;height:20px;border-radius:50%;}
.avatar-24{width:20px;height:20px;border-radius:50%;}
.avatar-27{width:27px;height:27px;border-radius:50%;}
.avatar-32{width:32px;height:32px;border-radius:50%;}
.avatar-40{width:40px;height:40px;border-radius:50%;}
.avatar-50{width:40px;height:40px;border-radius:50%;}
.avatar-46{width:46px;height:46px;border-radius:50%;}
.avatar-64{width:64px;height:64px;border-radius:50%;}
.avatar-128{width:128px;height:128px;border-radius:50%;}
.avatar-256{width:256px;height:256px;}

/*首页内容*/
.home-container {padding-top: 20px;}
.home-bg {
    background-color: #f4f4f4;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0);
    box-shadow: 0 1px 1px rgba(0,0,0,0)
}
.home-bg .home-heading {border-bottom: 1px solid #ddd;padding: 0 0 8px 8px;}
.home-bg .home-heading h3 a.section-title {font-size: 17px;font-weight: 500;text-decoration: none;}
.home-bg .home-heading h3 a.section-more {float: right;font-size: 14px;line-height: 23px;padding-right: 8px;color: #666;}
.home-bg .home-heading h3 a.section-more:hover {color: #333;}
.home-bg .home-body {padding: 0;}
.home-bg .home-body .home-list-item {border: 0;background-color: #f4f4f4;border-bottom: 1px solid #ddd;padding: 10px 15px 0 15px;margin-bottom: 0;border-radius: 0;}
.home-bg .home-body .home-list-item:hover {background-color: #eee;cursor: auto;}
.home-bg .home-body .home-list-item .home-media-left {padding-top: 3px;}
.home-bg .home-body .home-list-item .home-media-heading {margin: 0;}
.home-bg .home-body .home-list-item a.h_q_title {font-size: 15px;color: #333;text-decoration: none;}
.home-bg .home-body .home-list-item a.h_q_title:hover {color: #22d7bb;}
.home-bg .home-body .home-list-item a.h_q_user {font-size: 11px;text-decoration: none;color: #999;}
.home-bg .home-body .home-list-item a.h_q_user:hover {color: #333;}
.home-bg .home-body .home-list-item span.time {font-size: 11px;color: #999;}
.home-bg .home-body .home-list-item span.h_q_answer {position: absolute;top: 18px;right: 8px;background-color: #22d7bb;}
.sign-in {padding: 0;height: 90px;border-radius: 3px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0);box-shadow: 0 1px 1px rgba(0,0,0,0)}
.sign-in p.sign-in-title {text-align: center;font-size: 15px;padding: 5px 0;font-weight: 500;}
.sign-in .sign-in-content .btn-signin {width: 80px;color: #fff;background-color: #22d7bb;margin: 5px auto;display: block;}
.sign-in .sign-in-content .btn-signin:hover {background-color: #36ceb6;}

/*首页热门标签*/
.side-tag h3.hot-tag {font-weight: 500;font-size: 15px;}
.side-tag h3.hot-tag i {padding-right: 5px;}
#tagscloud {height:170px;position:relative;font-size:12px;color:#333;margin:20px auto 0;text-align:center;}
#tagscloud a{position:absolute;top:0px;left:0px;color:#333;font-family:Arial;text-decoration:none;margin:0 10px 15px 0;line-height:18px;text-align:center;font-size:12px;padding:1px 5px;display:inline-block;border-radius:3px;}
#tagscloud a.tagc1{background:#666;color:#fff;}
#tagscloud a.tagc2{background:#F16E50;color:#fff;}
#tagscloud a.tagc3{background:#FFDAB9;color:#fff;}
#tagscloud a.tagc4{background:#CD950C;color:#fff;}
#tagscloud a.tagc5{background:#006633;color:#fff;}
#tagscloud a.tagc6{background:#8B2252;color:#fff;}
#tagscloud a.tagc7{background:#7D26CD;color:#fff;}
#tagscloud a.tagc8{background:#87CEFF;color:#fff;}
#tagscloud a.tagc9{background:#FF6EB4;color:#fff;}
#tagscloud a:hover{color:#fff;background:#22d7bb;}

/*首页栏排行榜*/
.side-rank .side-question-rank h3.side-question-title {font-weight: 500;font-size: 15px;}
.side-rank .side-question-rank h3.side-question-title i {padding-right: 5px;font-size: 18px;}
.side-rank .side-question-rank {position: relative;}
.side-rank .panel-heading .rank {font-size: 10px;position: absolute;top: 6px;right: 6px;}
.side-rank .panel-heading .rank a {text-decoration: none;color: #ccc;}
.side-rank .panel-heading .rank a:hover {color: #22d7bb;}
.side-rank .panel-heading .rank a.active-rank {color: #22d7bb;}
.side-rank .panel-body ol {list-style: decimal;padding-left: 20px;color: #555;}
.side-rank .panel-body ol .list-active {border: 0;padding: 8px 0 0 5px;background-color: #fff;}
.side-rank .panel-body ol .list-active a {font-size: 15px;color: #555;text-decoration: none;padding-left: 5px;}
.side-rank .panel-body ol .list-active a:hover {color: #22d7bb;}
.side-rank .panel-body ol .list-active .credit {color: #888;font-size: 10px;float: right;}

/*底部*/
.footer {background-color: #f4f4f4;border-top: 2px solid #ddd;margin-top: 20px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0);-moz-box-shadow: 0 1px 1px rgba(0,0,0,0);box-shadow: 0 1px 1px rgba(0,0,0,0)}
.footer p.footer-link {text-align: center;font-size: 14px;color: #333;}
.footer p.footer-link a {color: #333;text-decoration: none;}
.footer p.footer-link a:hover {color: #22d7bb;}
.footer p.copyright, .footer p.author {text-align: center;color: #666;font-size: 12px;}
.footer p.copyright a, .footer p.author a {color: #666;text-decoration: none;}
.footer p.copyright a:hover, .footer p.author a:hover {color: #22d7bb;}

/*全文搜索*/
/*tab栏顶部*/
.search-main .search-heading {background-color: #fff;border-color: #fff;}
.search-main .panel-heading .tabs {margin: 0px;}
.search-main .panel-heading .tabs nav {text-align: left;margin-left: -4px;}
.search-main .panel-heading .tabs nav ul li {border-top-left-radius: 4px;border-top-right-radius: 4px;}
.search-main .panel-heading .tabs nav ul li a {padding: 8px 8px 5px 8px;line-height: inherit;font-size: 15px;color: #333;font-weight: bold;}
.search-main .panel-heading .tabs nav ul li a:hover {text-decoration: none;}
/*tab栏内容*/
.search-main  .search-body {padding: 0 15px 15px 15px;}
.search-main  .panel-body ul li.hot-list-item {padding: 3px 15px;border: none;margin-top: 15px;margin-bottom: 0px;border-bottom: 1px solid #ddd;border-radius: 0px;}
.search-main  .panel-body ul li.global-list-item {padding: 8px 15px 3px;border: none;margin-bottom: 0px;border-bottom: 1px solid #ddd;border-radius: 0px;}
.search-main  .panel-body ul li h2.title {margin-bottom: 3px;}
.search-main  .panel-body ul li h2.title .keyword {color: #22d7bb;}
.search-main  .panel-body ul li h2.title a {font-weight: 500;color: #555;font-size: 17px;}
.search-main  .panel-body ul li h2.title a:hover {text-decoration: none;color: #22d7bb;}
.search-main  .panel-body ul li p.desc {color: #888;font-size: 13px;line-height: 24px;margin: 5px 0;padding: 0 5px;}
.search-main  .panel-body ul li a.author {text-decoration: none;}
.search-main  .panel-body ul li a.author span, .search-main .panel-body ul li span.time {color: #999;font-size: 13px;}
.search-main .panel-body ul li .search-count {display: inline-block;padding-left: 15px;}
.search-main .panel-body ul li .search-count span {color: #777;font-size: 13px;}
.search-main .panel-body ul li .search-count span i {padding-right: 5px;font-weight: bolder;font-size: 13px;}



