/*个人主页*/
/*头部*/
.homepage-header {background-color: rgba(238, 238, 238, 1);padding: 20px 0 20px 0;margin-bottom: 20px;}
.homepage-header .homepage-avatar {border: 4px solid #fff;box-shadow: 0 4px 8px 0 rgba(7,17,27,.1);}
.homepage-header .homepage-middle .homepage-username {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
}
.homepage-header .homepage-middle .homepage-username span {font-size: 13px;color: #999;font-weight: normal;}
.homepage-header .homepage-middle p.homepage-info {font-size: 15px;}
.homepage-header .homepage-middle p.homepage-info span {padding-right: 13px;}
.homepage-header .homepage-middle p.homepage-desc {margin: 5px 0 15px 0;}
.homepage-header .homepage-middle .homepage-btn a {width: 83px;margin-right: 10px;border: 1px solid #22d7bb;background-color: rgba(238, 238, 238, 1);color: #22d7bb;}
.homepage-header .homepage-middle .homepage-btn a.btn-ask {width: 100px;}
.homepage-header .homepage-middle .homepage-btn a.btn-edit {width: 98px;}
.homepage-header .homepage-middle .homepage-btn a:hover {border: 1px solid #fff;background-color: #22d7bb;color: #fff;box-shadow: 0px 1px 2px 0px #22d7bb;}
.homepage-header .homepage-middle .homepage-btn a.active {border: 1px solid #fff;background-color: #22d7bb;color: #fff;box-shadow: 0px 1px 2px 0px #22d7bb;}
.homepage-header .homepage-middle .homepage-btn a i {padding-right: 3px;}
.homepage-header .homepage-bottom {margin-top: 20px;}
.homepage-header .homepage-bottom .dynamic {margin-top: 20px;}
.homepage-header .homepage-bottom .dynamic p {color: #888;font-size: 15px;margin-left: 20px;font-weight: 300;}
.homepage-header .homepage-bottom .item {float: left;margin: 0 15px;}
.homepage-header .homepage-bottom span.count {display: block;color: #22d7bb;font-size: 35px;font-weight: 700;text-align: center;}
.homepage-header .homepage-bottom span.text {display: block;font-weight: 400;text-align: center;}

.main-container {margin-bottom: 30px;}
/*左侧内容*/
.main-container .side-menu {width: 235px;background-color: #f8fafc;border-radius: 4px;}
.main-container .side-menu .list-wapper {overflow: hidden;}
.main-container .side-menu .list-wapper h3 {padding: 22px 0 10px 22px;font-size: 22px;font-weight: bold;}
.main-container .side-menu .list-wapper .line {height: 1px;background-color: #d9dde1;margin: 0 24px;}
.main-container .side-menu .list-wapper .menu {padding: 10px 0 25px;}
.main-container .side-menu .list-wapper .menu li a {height: 43px;padding: 0 0 0 34px;color: #14191e;text-decoration: none;line-height: 43px;display: block;position: relative;}
.main-container .side-menu .list-wapper .menu li a i {color: #b5b9bc;position: absolute;right: 15px;}
/*鼠标经过导航菜单改变样式*/
.main-container .side-menu .list-wapper .menu li a:hover {color: #22d7bb;background-color: rgba(0,0,0,0.1);cursor: pointer;}
.main-container .side-menu .list-wapper .menu li a:hover i {color: #22d7bb;}
/*导航菜单被点击改变样式*/
.main-container .side-menu .list-wapper .menu li a.extra i {color: #fff;}
.main-container .side-menu .list-wapper .menu li a.extra {color: #fff;background-color: #22d7bb;font-weight: bold;}


/*右侧内容*/
.main-container .panel-default.right-container {
    padding-bottom: 20px;
    border: none;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
    background-color: #f4f4f4;
}
.main-container .right-container h4.title {font-size:22px;font-weight:bold;padding: 15px 0 10px 5px;border-bottom: 2px solid #d0d6d9;}
.main-container .right-container h4.title i {font-size: 25px;padding-right: 6px;position: relative;top: 3px;}
.main-container .right-container ul .list- {background-color: #f4f4f4;border: 0;border-bottom: 1px solid #ddd;margin-bottom: 0;}
.main-container .right-container>.list-group:last-child .list-group-item:last-child {border-bottom: 1px solid #ddd;}
.main-container .right-container ul .list- .headtitle div {font-weight: 500;}
.main-container .right-container ul .list- .headtitle .count, .main-container .right-container ul .list- .content .count {text-align: center;}
.main-container .right-container ul .list- a.title {font-size: 15px;color: #333;white-space: nowrap;}
.main-container .right-container ul .list- a.title:hover {color: #22d7bb;}
.main-container .right-container ul .list- span.adopt-tip {background-color: #22d7bb;color: #fff;padding: 4px 5px;border-radius: 4px;}

/*tab栏*/
.main-container .right-container .tab-top {margin-top: 20px;}
.main-container .right-container ul .list-tab {background-color: #fff;border: 0;border-bottom: 1px solid #ddd;margin-bottom: 0;}
.main-container .right-container ul .list-tab:last-child {border-bottom-right-radius: 0;border-bottom-right-radius: 0;}
.main-container .right-container ul .list-tab .headtitle div {font-weight: 500;}
.main-container .right-container ul .list-tab .headtitle .count, .main-container .right-container ul .list-tab .content .count {text-align: center;}
.main-container .right-container ul .list-tab a.title {font-size: 15px;color: #333;white-space: nowrap;}
.main-container .right-container ul .list-tab a.title:hover {color: #22d7bb;}
.main-container .right-container ul .list-tab p.answer-content, .main-container .right-container ul .list-tab .create-time {font-size: 13px;color: #666;}
.main-container .right-container ul .list-tab a.att-u-name {font-size: 16px;color: #333;text-decoration: none;font-weight: 500;font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;}
.main-container .right-container ul .list-tab a.att-u-name:hover {color: #22d7bb;}
.main-container .right-container ul .list-tab p.data {color: #666;font-size: 13px;}
.main-container .right-container ul .list-tab a.attention-icon, .main-container .right-container ul .list-tab a.pri-letter-icon {text-decoration: none;font-size: 13px;border: 1px solid #22d7bb;line-height: 23px;border-radius: 3px;color: #999;display: block;width: 50px;text-align: center;}
.main-container .right-container ul .list- p.answer-content {font-size: 13px;color: #666;display: inline-block;}
span.seperator, span.seperator {position: absolute;right: -13px;font-size: 13px;color: #666;}
.edit-icon a {color: #999;text-decoration: none;font-size: 13px;}
.edit-icon a:hover {color: #22d7bb;}

    /*粉丝列表*/
.main-container .right-container ul .list- a.att-u-name {font-size: 16px;color: #333;text-decoration: none;font-weight: 500;font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;}
.main-container .right-container ul .list- a.att-u-name:hover {color: #22d7bb;}
.main-container .right-container ul .list- p.data {color: #666;font-size: 13px;}
.main-container .right-container ul .list- a.attention-icon, .main-container .right-container ul .list- a.pri-letter-icon {text-decoration: none;font-size: 13px;border: 1px solid #22d7bb;line-height: 23px;border-radius: 3px;color: #999;display: block;width: 50px;text-align: center;}

/*个人设置*/
/*左侧导航菜单*/
.main-container .leftnav {float: left;font-size: 14px;width: 235px;background-color: #fff;}
.main-container .leftnav ul {border-left: 1px solid #e4e4e4;border-right: 1px solid #e4e4e4;border-radius: 4px;}
.main-container .leftnav ul li {height: 50px;line-height: 50px;border-top: 1px solid #e4e4e4;}
.main-container .leftnav ul li:hover {background-color: rgba(0,0,0,0.1);cursor: pointer;}
.main-container .leftnav ul li:first-child {background-color: #ecf0f1;padding-left: 20px;}
.main-container .leftnav ul li:last-of-type {border-bottom: 1px solid #e4e4e4;}
.main-container .leftnav ul li h4.left-title {font-size:20px;font-weight:bold;color: #555;line-height: 50px;}
.main-container .leftnav ul li h4.left-title i, .main-container .leftnav ul li a i {padding: 0 8px 2px 0;}
.main-container .leftnav ul li a {padding: 18px 108px 15px 45px;color: #555;text-decoration: none;}
.main-container .leftnav ul li:hover a {color: #22d7bb;}
.main-container .leftnav ul li.extra a {background-color: #22d7bb;color: #fff;}
/*右侧内容*/
.main-container .panel-default.right-container form {padding-top: 18px;}
.main-container .panel-default.right-container p.small-title {font-size: 16px;font-weight: bold;color: #666;border-left: 3px solid #22d7bb;padding-left: 10px;margin-left: 20px;}
/*.main-container .panel-default.right-container .text-extra {border: 2px solid #e4e4e4;height: 40px;}*/
.text-extra {border: 2px solid #e4e4e4;height: 40px;}
.main-container .panel-default.right-container .city-bg {background-color: #f4f4f4;}
.main-container .panel-default.right-container textarea {border: 2px solid #e4e4e4;}
.main-container .panel-default.right-container .text-extra:focus, .main-container .panel-default.right-container textarea:focus {border: 2px solid #22d7bb;}
/*保存按钮除绑定第三方*/
.main-container .panel-default.right-container button.btn-save {font-size: 16px;width: 90px;height:36px;line-height: 16px;background-color: #22d7bb;border: none;position: relative;left: 40%;margin-top: 25px;padding-left: 16px;}
.main-container .panel-default.right-container button.btn-save:hover {background-color: #36ceb6;color: #fff;}
/*绑定按钮除绑定第三方*/
.right-container .email {position: relative;}
.email-bind, .phone-bind, .email-change, .email-verify, .email-submit, .email-cancel {font-size: 14px;width: 65px;height:30px;color: #fff;line-height: 11px;background-color: #22d7bb;border: none;position: relative;margin-top: 4%;}
.email-change, .email-submit {margin-right: 5px;}
.cv-btn, .sc-btn {position: absolute;top: -8px;right: 0;}
.show-active {display: none;}
.email-bind:hover, .phone-bind:hover, .email-change:hover, .email-verify:hover, .email-submit:hover, .email-cancel:hover {background-color: #36ceb6;color: #fff;}
/*绑定第三方列表样式和按钮*/
.main-container .panel-default.right-container .bind-account {width: 861px;border-bottom: 1px solid #eee; padding: 8px 0;}
.main-container .panel-default.right-container .bind-account .bind-type {padding-top: 8px;padding-left: 60px;}
.main-container .panel-default.right-container .bind-account a.bind-btn {
    font-size: 13px;
    width: 70px;
    height:30px;
    line-height: 20px;
    background-color: #22d7bb;
    border: none;
    padding-left: 10px;
    margin-top: 3px;
    color: #fff;
}
.main-container .panel-default.right-container .bind-account a.bind-btn:hover {background-color: #36ceb6;color: #fff;}

/*下拉菜单按钮样式*/
.main-container .panel-default.right-container .bootstrap-select button {background-color: #22d7bb;border: none;color: #fff;height: 40px;}
.main-container .panel-default.right-container .bootstrap-select button:hover {background-color: #36ceb6;border: none;color: #fff;}
/*职业状态样式*/
.main-container .panel-default.right-container .career_status {height: 40px;}
.main-container .panel-default.right-container .career_status a {text-decoration: none;color: #22d7bb;line-height: 33px;padding-left: 10px;}
.main-container .panel-default.right-container .career_status a:hover {text-decoration: underline;}
/*头像样式*/
.main-container .panel-default.right-container .avatar-img {margin-left: 10px;}
.main-container .panel-default.right-container .change-avatar button.avatar-btn {font-size: 13px;width: 70px;height:30px;padding-left:9px;line-height: 15px;background-color: #22d7bb;border: none;color: #fff;margin-top: 7px;}
.main-container .panel-default.right-container .change-avatar button.avatar-btn:hover {background-color: #36ceb6;color: #fff;}
.main-container .panel-default.right-container .change-avatar p.text-muted {position: absolute;top: 6px;left:98px;font-size: 13px;line-height: 25px;}
.main-container .panel-default.right-container .change-avatar h4.modal-title {font-size: 18px;font-weight: bold;}
.main-container .panel-default.right-container .change-avatar .preview-container{margin:0 auto;width:128px;height:128px;border-radius:50%;overflow: hidden;}
.main-container .panel-default.right-container .change-avatar .avatar-container{margin:0 auto;width:256px;}
.main-container .panel-default.right-container .change-avatar .picker-container{padding: 20px 0 0 0;}
.main-container .panel-default.right-container .change-avatar .picker-container .webuploader-pick.pick-extra{width: 80px;height: 40px;}
.main-container .panel-default.right-container .change-avatar .avatar-origin{width:256px;}
.main-container .panel-default.right-container .change-avatar .avatar-link{display:block;}
.main-container .panel-default.right-container .change-avatar .avatar_btn {background-color: #22d7bb;border: none;color: #fff;margin-top: 20px;}
.main-container .panel-default.right-container .change-avatar .avatar_btn:hover {background-color: #36ceb6;color: #fff;}
/*选择微信二维码图片样式*/
.main-container .panel-default.right-container .bootstrap-filestyle input.filestyle-input {border: 2px solid #e4e4e4;height: 40px;}
.main-container .panel-default.right-container .bootstrap-filestyle label.btn-select-qrcode {padding: 9px 12px;background-color: #22d7bb;color: #fff;border: 1px solid #22d7bb;}
.main-container .panel-default.right-container .bootstrap-filestyle label.btn-select-qrcode:hover {background-color: #36ceb6;}

.main-container .panel-default.right-container .career_status .dowebok p {font-size: 14px;color: #555;}
.main-container .panel-default.right-container .career_status ul.dowebok {list-style-type: none;margin-left: 1px;margin-top: 2px;}
.main-container .panel-default.right-container .career_status ul.dowebok li {margin-right: 25px;display: inline-block;}
.main-container .panel-default.right-container .career_status ul.dowebok li label {padding: 0px 12px 8px 5px;font-size: 13px;}